* text=auto
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.mp4 binary
*.wav binary
*.zip binary
*.part binary
